nnf-deploy

kind-config.yaml

vendor/

release-manifests/
release-manifests-kind/
manifests.tar
manifests-kind.tar

overlay-legacy.yaml

# For the release-all.sh tool.
tools/workingspace/
workingspace/

# For crd-bumper tool.
tools/crd-bumper/pkg/__pycache__/

